# requirements.txt
logging
python-multipart
fastapi
pydantic
uvicorn[standard]
python-dotenv
whisper
google-api-python-client
google-auth
googleapis-common-protos
google-generativeai
moviepy
pydub
requests
torch
torchaudio
